extends layout.pug

block content
    section#content
        h2 Select Region
            form(action='/', method="post", id='region')
                select(name= 'region' onchange='this.form.submit()')
                    option(selected=region) #{region}
                    each val in regionArray
                        option(value=val) #{val}


        h2 Select Constellation
            form(action='/constellation', method="post", id='constellation')
                select(name= 'constellation' onchange='this.form.submit()')
                    each val in constellationArray
                        option(value=val) #{val}