extends layout.pug

block content
    section#content
        h2 Select Region
            form(action='/', method="post", id='region')
                select(name= 'region' onchange='this.form.submit()')
                    option(selected=region) #{region}
                    each val in regionArray
                        option(value=val) #{val}

        h2 Select Desired PI Material
            form(action='/materials', method="post", id='piMaterial')
                select(name= 'piMaterial' onchange='this.form.submit()')
                    each val in materialsArray
                        option(value=val) #{val}
