extends layout.pug

block content
    section#content
        h2 Select Region
            form(action='/', method="post", id='region')
                select(name= 'region' onchange='this.form.submit()')
                    option(selected=region) #{region}
                    each val in regionArray
                        option(value=val) #{val}

        h2 Select System
            form(action='/region', method="post", id='system')
                select(name= 'region' onchange='this.form.submit()')
                    each val in systemArray
                        option(value=val) #{val}
