extends layout.pug

block content
    section#content
        h2 Select Region
            form(action='/', method="post", id='region')
                select(name= 'region' onchange='this.form.submit()')
                    option(selected=region) #{region}
                    each val in regionArray
                        option(value=val) #{val}
    if (region)
        h2 Select Constellation
            form(action='/constellation', method="post", id='constellation')
                select(name= 'constellation' onchange='this.form.submit()')
                    option(selected=constellation) #{constellation}
                    each val in constellationArray
                        option(value=val) #{val}
                    option(value='All') All

    if (constellation)
        h2 Select Desired PI Material
            form(action='/materials', method="post", id='materials')
                select(name= 'piMaterial' onchange='this.form.submit()')
                    option(selected=material) #{material}
                    each val in materialsArray
                        option(value=val) #{val}

    if (material)
        h2 Select Desired Richness(s)
        form(action='/richness', method="post", id='richness', name='richness')
            input(type='checkbox' name='Poor' checked=false)
            label Poor
            input(type='checkbox' name='Medium' checked=false)
            label Medium
            input(type='checkbox' name='Rich' checked=false)
            label Rich
            input(type='checkbox' name='Perfect' checked=false)
            label Perfect
            br
            button(type='submit') Submit

    if (richness)
        h2
            | Results for &nbsp
            i(style='color:red') #{material} &nbsp
            | in &nbsp
            i(style='color:red') #{region}.
        table(style='width:20%', border="1")
            tr
                th System/Planet
                th Constellation
                th Richness
                th Output
            each val in selectedResults
                tr
                    td #{val['Planet Name']}
                    td #{val.Constellation}
                    td #{val.Richness}
                    td #{val.Output}


